﻿@model OTS.UserService.User
@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-sm-12">
        <h2>Login</h2>
    </div>
    <form action="~/Account/Login" method="post">
        @Html.ValidationSummary()
        <div class="col-md-4">
            @Html.TextBoxFor(p => p.Email, new { Placeholder = "Email", Class = "form-control" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            @Html.PasswordFor(p => p.Password, new { Placeholder = "Password", Class = "form-control" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <button type="submit" value="Submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>