﻿@model OTS.UserService.User
@{
    ViewBag.Title = "Register";
}
<form action="~/Account/Register" method="post">
    @Html.ValidationSummary()
    <br />
    @Html.TextBoxFor(p => p.Email, new { Placeholder = "Email", Class = "form-control" })
    <br />
    @Html.PasswordFor(p => p.Password, new { Placeholder = "Password", Class = "form-control" })
    <br />
    @Html.TextBoxFor(p => p.FullName, new { Placeholder = "FullName", Class = "form-control" })
    <br />
    @Html.TextBoxFor(p => p.PhoneNumber, new { Placeholder = "PhoneNumber", Class = "form-control" })
    <br />


    <button type="submit" value="Submit" class="btn btn-success">Submit</button>
</form>