﻿@model OnlineTrackingSystem.UserService.User 
@{
    ViewBag.Title = "Contact";
}
<form action="~/Home/Register" method="post">
    <br />
    <br />
    @Html.TextBoxFor(p=>p.Email,new{Placeholder="Email"})
    <br/>
    @Html.PasswordFor(p => p.Password, new { Placeholder = "Password" })
    <br />

    <button type="submit" value="Submit" class="btn btn-success">Submit</button>
</form>