﻿@model OTS.UserService.User 
@{
    ViewBag.Title = "Register";
}
<form action="~/Account/Register" method="post">
    <br />
    @Html.TextBoxFor(p=>p.Email,new{Placeholder="Email"})
    <br/>
    @Html.PasswordFor(p => p.Password, new { Placeholder = "Password" })
    <br />
    @Html.TextBoxFor(p => p.FullName, new { Placeholder = "FullName" })
    <br />
    @Html.TextBoxFor(p => p.PhoneNumber, new { Placeholder = "PhoneNumber" })
    <br />
    

    <button type="submit" value="Submit" class="btn btn-success">Submit</button>
</form>