﻿@model OTS.PackageService.Route

@{
    ViewBag.Title = "AddRoute";
}

<h2>Add Route</h2>

<div class="row">
    <div class="col-sm-12">
        <h2>Login</h2>
    </div>
    <form action="~/Package/AddRoute" method="post">
        @Html.HiddenFor(p => p.Id)
        @Html.HiddenFor(p => p.PackageId)

        <div class="col-md-4">
            @Html.TextBoxFor(p => p.City, new { Placeholder = "Sender", Class = "form-control" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            @Html.TextBoxFor(p => p.FromDate, new { Placeholder = "Receiver",Class= "datepicker form-control" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            @Html.TextBoxFor(p => p.ToDate, new { Placeholder = "Name", Class = "datepicker form-control" })
        </div>
        <div class="clearfix"></div>
       
        <div class="col-md-4">
            <button type="submit" value="Submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>

