﻿@model List<OTS.PackageService.Package>
@{
    ViewBag.Title = "Index";
}

<h2>All packages</h2>


<table class="table">
    <thead>
        <tr>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Name</th>
            <th>Description</th>
            <th>From city</th>
            <th>To city</th>
            <th>Tracking</th>
            <th>Operations</th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.SenderId</td>
                    <td>@item.ReceiverId</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.SenderCity</td>
                    <td>@item.DestinationCity</td>
                    <td>@item.Tracking</td>
                    <td>
                        <a href="~/Package/Manage/@item.Id" class="btn btn-default">Edit</a>
                        <a href="~/Package/ManageRoutes/@item.Id" class="btn btn-default">Edit routes</a>
                        <a href="~/Package/Delete/@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
    </thead>

</table>

<a href="~/Package/Manage/0" class="btn btn-default">Add</a>