﻿@model OTS.PackageService.Package
@{
    ViewBag.Title = "Manage";
}

<div class="row">
    <div class="col-sm-12">
        <h2>Login</h2>
    </div>
    <form action="~/Package/Manage" method="post">
        @Html.HiddenFor(p => p.Id)

        <div class="col-md-4">
            @Html.TextBoxFor(p => p.SenderId, new { Placeholder = "Sender", Class = "form-control" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            @Html.TextBoxFor(p => p.ReceiverId, new { Placeholder = "Receiver", Class = "form-control" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            @Html.TextBoxFor(p => p.Name, new { Placeholder = "Name", Class = "form-control" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            @Html.TextAreaFor(p => p.Description, new { Placeholder = "Description", Class = "form-control" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            @Html.TextBoxFor(p => p.SenderCity, new { Placeholder = "SenderCity", Class = "form-control" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            @Html.TextBoxFor(p => p.DestinationCity, new { Placeholder = "DestinationCity", Class = "form-control" })
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <label>Tracking</label>
            @Html.CheckBoxFor(p => p.Tracking, new { Placeholder = "DestinationCity" })
        </div>
        

        <div class="col-md-4">
            <button type="submit" value="Submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
