﻿@model OTS.PackageService.Package
@{
    ViewBag.Title = "ManageRoutes";
}

<h2>ManageRoutes</h2>

<table class="table">
    <thead>
        <tr>
            <th>City</th>
            <th>From Date</th>
            <th>To date</th>
            <th>Operations</th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model.Routes)
            {
                <tr>
                    <td>@item.City</td>
                    <td>@item.FromDate</td>
                    <td>@item.ToDate</td>
                    <td>
                        <a href="~/Package/DeleteRoute?id=@item.Id&packageId=@item.PackageId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
    </thead>

</table>

<a href="~/Package/AddRoute/@Model.Id" class="btn btn-default">Add</a>